<%- include('../../partials/header.ejs') %>
  

  <div id="signup">
      <div class="container overflow-hidden">
        <div class="row">

            <div class="col-12 col-lg-4 signup-title d-flex flex-column align-items-center justify-content-center">
              
             <h5>Welcome To The Diary Of Dreams</h5>
             <h6>Already have an Account? <a class="text-primary" href="/auth/login">Login Here</a></h6>
             <h6 class="text-center d-block d-lg-none mt-3">Or, Create New Account</h6>

            </div>

            <div class="col-12 col-lg-8 d-flex flex-column align-items-center justify-content-center signup-form" data-aos="flip-left" data-aos-duration="1000">

                <div class="card">
                         <div class="card-header bg-dark">
                             <h5 class="text-light text-center"><%= title %> </h5>
                         </div>

                         <div class="card-body">
                              <form action="/auth/signup" method="post" id="myForm">
                            
                                <div class="form-group">
                                   <div class="row">
                                       <div class="col-12 col-sm-4">
                                           <label for="username" class=" form-label">Username</label>
                                       </div>
                                       <div class="col-12 col-sm-8">
                                    
                                            <input type="text" placeholder="Username" id="username" class="form-control " name="username" value="">

                                            <div id="myCom" class="">

                                               

                                            </div>
                                          
                                        
                                       </div>
                                   </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-12 col-sm-4">
                                            <label for="email" class=" form-label">Email</label>
                                        </div>
                                        <div class="col-12 col-sm-8">
                                     
                                             <input type="email" placeholder="Email" id="email" class="form-control" name="email" value="">

                                             <div class="invalid-feedback" id="myEmail">

                                               

                                            </div>
                                        
                                         
                                        </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <div class="row">
                                        <div class="col-12 col-sm-4">
                                            <label for="password" class=" form-label">Password</label>
                                        </div>
                                        <div class="col-12 col-sm-8">
                                     
                                             <input type="password" placeholder="Password" id="password" class="form-control" name="password"
                                             value=""
                                             >

                                             <div class="invalid-feedback">

                                               

                                            </div>
                                         
                                        </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <div class="row">
                                        <div class="col-12 col-sm-4">
                                            <label for="cpassword" class=" form-label">Confirm Password</label>
                                        </div>
                                        <div class="col-12 col-sm-8">
                                     
                                             <input type="password" placeholder="Confirm Password" id="cpassword" class="form-control" name="cpassword">

                                             <div class="invalid-feedback">

                                               

                                            </div>
                                         
                                        </div>
                                    </div>
                                 </div>

                                 <input type="submit" class="btn btn-outline-primary" value="Sign Up">
                            
                            
                            </form>
                         </div>
                </div>

            </div>

        </div>
      </div>
  </div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>
