<%- include('../../partials/header.ejs') %>

    <div class="row">
        <div class="col1">
            <a href="profile"> <img src="/uploads/default.jpg" alt="profilePic" width="100px"></a>
            <h1>Diary Of Dreams</h1>
        </div>
        <div class="col2">
            <button class="usr-follow follow">Follow</button>
            <script src="/scripts/follow.js"></script>
        </div>
    </div>
    <div class="r">
            <div class="col3">
                <div class="a">
                    <h1>Recent Posts</h1>
                    <a href="profile"><img src="/uploads/default.jpg" alt="profilePic" width="20px"></a>
                    User name
                    <br>
                    Uploaded Few mintues ago.
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos numquam minima, delectus in perferendis dolorem voluptate asperiores quas, adipisci ea facilis fugiat deleniti consequatur laudantium. Laborum id tenetur fuga officiis!</p>
                </div>
            </div>
            <div class = "col4"></div>
            <div class="col5">
                <div class="a">
                    <h1>About</h1>
                    Title
                    <br>
                    Biodata
                    <br>
                    Links
                    <br>
                    <a href="facebook"><img src="/images/facebook.png" alt="facebookLink" width="20px"></a>
                    <a href="web"><img src="/images/web.jpg" alt="webLink" width="20px"></a>
                </div>
            </div>
        </div>