<%- include('../../../partials/header.ejs') %>

<!-- Create Post -->
  
    <div class="container text-center">

      <h1 class="text-dark display-4 mt-4"><%= head %> </h1>
       
         <div class="d-flex flex-row justify-content-center mt-3">    
      
        <img src="#" alt="profilePic" class=" img-thumbnail img-fluid rounded-circle mr-3" width="100px" id="propicPost">
          
        <input type="text" name=""  class="form-control mt-5 w-50 py-4" placeholder="<%= error.title||error.body||error.tags?value.text:'Write Something...' %> " id="openPost">
        
         </div>
       </div>

<%- include('../../../partials/footer.ejs') %>      