<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profilestyle.css">
    <title>Profile</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">DiaryOfDreams</a>
        <a href="#news" >Explore</a>
        <a href="#contact" >Profile</a>
        <a href="#about" >Logout</a>
        <form class = "search" id="search-form" name="search" action="/search" method="post">
            <input id="search-input" name="search" type="text">
        </form>
    </div>
    <div class="row">
        <div class="col1">
            <a href="profile"><img src="use.webp" height="200px" width="200px" alt=""></a>
            <h1>Diary Of Dreams</h1>
        </div>
        <div class="col2">
            <button>Follow</button>
        </div>
    </div>
    <div class="r">
            <div class="col3">
                <div class="a">
                    <h1>Recent Posts</h1>
                    <a href="profile"><img src="use.webp" height="20px" width="20px" alt=""></a>
                    User name
                    <br>
                    Uploaded Few mintues ago.
                    <p>
                        Victoria Falls is a waterfall on the Zambezi River in southern Africa, which provides habitat for several unique species of plants and animals.
                    </p>
                </div>
            </div>
            <div class = "col4"></div>
        
            <div class="col5">
                <div class="a">
                    <h1>About</h1>
                    Title
                    <br>
                    Biodata
                    <br>
                    Links
                    <br>
                    <a href="facebook"><img src="facebook.png" height="20px" width="20px" alt=""></a>
                    <a href="web"><img src="web.jpg" height="20px" width="20px" alt=""></a>
                </div>
            </div>
        </div>
    </body>
</html>